.sort-by-wrapper {
  display: flex;
  align-items: center;
}

.sort-label {
  width: 5rem;
}

.sort-select {
  margin: 0 1.5rem 0 0;
  height: 2.5rem;
  width: 10rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  color: #888;
  font-size: 1rem;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .sort-by-wrapper {
    margin: 1rem 0;
  }
}
