.list-item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  text-align: left;
}

.episode,
.title,
.date {
  text-align: left;
  padding: 0 1rem;
}

.title {
  flex: 1;
  padding: 0 1rem 0 2rem;
}
