.list-item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  text-align: left;
}

.episode,
.title,
.rating,
.date {
  text-align: left;
  padding: 0 1rem;
}

.title {
  flex: 1;
  padding: 0 1rem 0 2rem;
}

.rating {
  display: flex;
  align-items: center;
  padding: 0 2rem 0 1rem;
}

.star {
  color: #ccc;
  font-size: 1.25rem;
  margin-right: 2px;
  position: relative;
  display: inline-block;
}

.star.filled {
  color: #f5b50a;
}

.star.half-filled {
  background: linear-gradient(90deg, #f5b50a 50%, #ccc 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
